<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>CRUD OPERATION</title>

    <style>
        body{
            background-color: rgb(7, 0, 0);
            color: white;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
        form, h2, table{  
            align-items: center;
            height: 50%;
            width: 50%;
            margin: auto;
        }
    </style>
</head>
<body>
    <h2>REGISTRATION PAGE</h2>
    <br><br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <label for="name">Product Name : </label>
    <input type="text" name="pname" id="pname" value='{{data.pname}}'>
    <br><br>

    <label for="price">Product Price </label>
    <input type="text" name="price" id="price" value='{{data.price}}'>
    <br><br>

    <label for="qty">Quantity</label>
    <input type="text" name="qty" id="qty" value='{{data.qty}}'>
    <br><br>

    <label for="ram">Product Ram</label>
    <input type="text" name="ram" id="ram" value='{{data.ram}}'>
    <br><br>
    
    <input type="submit" value="SUBMIT" style="background-color: green; color: white;">
    
</form>
<br><br><br>




</body>
</html>