<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body align="center">
 

    <h1>customer Dahsboard</h1>
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <table   border="2" align="center">
        <tr>
            <th>ID</th>
            <th>Usename</th>
            <th>Balance</th>
            <th>Address</th>
        </tr>
      {%for marks in qryset%}
        <tr>
            <td id="t1">{{forloop.counter}}</td> 
            <td id="t2">{{marks.username}}</td>
            <td id="t2">{{marks.address}}</td>
            <td id="t2">{{marks.balance}}</td>

           
        </tr>
        {% endfor %} 
    </table>
</form>
</form>
</body>

</html>