<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}
input{
    color: green;
}

span{
    font-size: 20px;
    color: red;
}
</style>

<body align="center">
    <h1>User Registration</h1>

    <form action="" method="post">
        {% csrf_token %}
        <select name="role" id="role">
            <option value="">---select role---</option><br>
            {%for dt in role%}
            <option value="{{dt.id}}">{{dt.role_name}}</option><br><br>
            {%endfor%}<br><br>
        </select><br><br>
        <input type="text" name="username" placeholder="Enter username"><br><br>
        <input type="text" name="password" placeholder="Enter password"><br><br>
        <input type="submit"><br><br>
    </form>
</body>

</html>